<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<body>

<div class="chat_window">
    <div class="top_menu">
        <div class="title" th:text="${username2}"></div>
    </div>


    <div class="messages">

        <table class="table table-fixed">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr th:each="chat : ${chatHistory}">

                <td th:text="${chat.getSender()}"></td>
                <td th:text="${chat.getContent()}"></td>
                <td th:text="${chat.getSenderDateString()}"></td>
            </tr>
            </tbody>
        </table>

    </div>


    <!--<div th:if="${chatHistory.size()} gt 0">-->
        <!--<ul class="messages" th:each="chat : ${chatHistory}">-->
            <!--&lt;!&ndash;?\<li class=".message.right">&ndash;&gt;-->
            <!--<li class=".messages" th:text="${chat.getSender()} + ':(' + ${chat.getSenderDateString()} + ')'">-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->


    <form th:action="@{'/users/chats/' + ${username2} + '/send'}" method="post">

        <div class="bottom_wrapper clearfix">
            <input class="message_input_wrapper" id="message" name="message" autofocus="autofocus" placeholder="在这里输入消息..."/>
            <!--<div class="send_message">-->
                <!--<div class="icon"></div>-->
                <!--<div class="text">Send</div>-->
            <!--</div>-->

            <input class="send_message icon"  type="submit" th:value="发送" />
        </div>
    </form>


</div>
<div class="message_template">
    <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
    </li>
</div>

</body>
</html>